<html>
<title>LOGIN | 2048</title>
<body background="http://angsila.cs.buu.ac.th/~58160632/887371/lab02/h5.jpg">

  <h2><u>LOGIN OR SIGNUP BEFORE YOU PLAY!</u></h2>

  <!--img src="https://i.kym-cdn.com/entries/icons/original/000/021/807/4d7.png" alt="HACKERMAN" width="200" height="200"-->

  <p><form action="#" method="post">{% csrf_token %}
    Username: <input type="text" name="login_id"><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" name="Login!">
  </form></p>

  <br><b>Haven't signed up yet? Register now!</b>
  <p><form action="#" method="post">{% csrf_token %}
    Username: <input type="text" name="reg_id"><br>
    Password: <input type="password" name="reg_pass"><br>
    Confirm Password: <input type="password" name="confirm_pass"><br><br>
    <input type="submit" name="Register!">
  </form></p>

  <p><input type="button" onclick="location.href='/';" value="Go to homepage"/></p>

  <p>
  	<h3>Developed by the 2048 team.</h3>
  	Copyright © 2019. All rights reserved.
  </p>

</body>
</html>
