<html>
<title>LOGIN | 2048</title>
{% load static %}

<body background="{% static "background.jpg" %}" >

  <p><img src="{% static "logo.png" %}" alt="logo"></p>
  <h2><u><font color="red">LOGIN OR SIGNUP BEFORE YOU PLAY!</font></u></h2>

  <p><form action="#" method="post"><font color=#00FF00>{% csrf_token %}
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Login!"></font>
  </form></p>

  <br><b><font color="red">Haven't signed up yet? Register now!</font></b>
  <p><form action="#" method="post"><font color=#00FF00>{% csrf_token %}
    Username: <input type="text" name="reg_username"><br>
    Password: <input type="password" name="reg_pass"><br>
    Confirm Password: <input type="password" name="confirm_pass"><br><br>
    <input type="submit" value="Register!"></font>
  </form></p>

  <p>
  	<h3><font color="yellow">Developed by the 2048 team.</font></h3>
  	<font color=#FF1A1A>Copyright © 2019. All rights reserved.</font>
  </p>

</body>
</html>
